.general-info {
  padding: 120px 0;

  @include _560 {
    padding: 60px 0;
  }

  &__inner {
    position: relative;
    display: flex;
    margin-bottom: 120px;

    @include _1200 {
      flex-direction: column;
    }
  }

  &__img {
    min-width: 570px;
    min-height: 680px;
    margin-right: 40px;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    @include _560 {
      display: none;
    }
  }

  &__experience {
    margin-top: 55px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: -5px;

    @include _1200 {
      justify-content: center;
    }
  }

  &__number {
    margin-right: 35px;
    font-size: 140px;
    color: $default;
    @extend %rubik-700;
  }

  &__list li {
    margin-bottom: -10px;
    font-size: 16px;
    color: $title;
    @extend %rubik-400;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__title {
    line-height: 1;
    margin-bottom: 38px;
    color: $title;
    text-align: start;

    @include _1200 {
      text-align: center;
    }
  }

  &__content {
    margin-bottom: 25px;

    &::after {
      position: absolute;
      content: "";
      width: 500px;
      height: 1px;
      margin-bottom: 25px;
      background-color: #e6eaf0;
    }
  }

  &__text {
    padding: 0px 5px 50px;
    font-size: 16px;
    line-height: 1.9;
    color: $title;
    @extend %rubik-400;
  }

  &__nested {
    display: flex;

    @include _1200 {
      justify-content: center;
    }

    @include _560 {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item-box {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      height: 80px;
      width: 1px;
      margin: 0 25px;
      background-color: #e6eaf0;
    }

    &:last-child::after {
      content: "";
      width: 0;
      height: 0;
    }

    @include _560 {
      margin-right: 20px;
    }
  }

  &__icon {
    width: 44px;
    height: 40px;
    margin-right: 20px;
  }

  &__col {
    display: flex;
    flex-direction: column;

    @include _860 {
      margin-bottom: 10px;
    }

    &--alignment {
      align-items: center;
    }
  }

  &__num {
    font-size: 36px;
    color: $title;

    &--col {
      margin-bottom: 12px;
    }
  }

  &__about {
    font-size: 18px;
    color: #4c4c4c;
    @extend %dmsans-700;
  }

  &__row {
    background-color: $outline-slider;
  }

  &__columns {
    display: flex;
    justify-content: space-around;
    margin-left: -25px;
    padding: 85px 0 80px;

    @include _860 {
      flex-wrap: wrap;
    }
  }

  &__col-icon {
    width: 79px;
    height: 64px;
    margin-bottom: 10px;

    &--badge {
      margin-left: 13px;
    }
  }
}
