.team {
  margin-bottom: 20px;

  &__inner {
    display: flex;
    justify-content: space-between;

    @include _860 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__about {
    max-width: 300px;

    @include _860 {
      max-width: 100%;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  &__title {
    margin-left: -5px;
    text-align: start;

    @include _860 {
      text-align: center;
    }
  }

  &__descr {
    margin: 15px 0 38px;
    line-height: 1.9;
    color: $title;
    @extend %rubik-400;
  }

  &__link {
    padding: 15px 15px;
    font-size: 15px;
    line-height: 3;
    background-color: $default;
    color: white;
    border-radius: 5px;
    text-align: center;
    @extend %poppins-600;
    transition: background-color 0.5s;

    &:hover {
      background-color: #7c849b;
    }
  }

  &__arrow {
    width: 18px;
    height: 12px;
    margin-left: 20px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;

    @include _860 {
      flex-direction: column;
      margin-left: 0;
    }
  }
}
