html,
body {
  height: 100%; // 1 задаем чтоб footer прижать к низу
}

body {
  display: flex; // 2 прижимаем footer
  flex-direction: column; // 3 прижимаем footer
  font-size: 16px;
  line-height: 1.3;
  color: $default;
  background-color: #ffffff;
  @extend %dmsans-500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &--big {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.main {
  flex-grow: 1; // 4 для того чтоб прижать footer к низу
}

.title {
  font-size: 36px;
  color: #191919;
}
