html,
body {
  height: 100%; // 1 задаем чтоб footer прижать к низу
}

body {
  display: flex; // 2 прижимаем footer
  flex-direction: column; // 3 прижимаем footer
  font-size: 16px;
  color: $default;
  background-color: $white;
  @extend %dmsans-500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--big {
    max-width: 1800px;
  }
}

.main {
  flex-grow: 1; // 4 для того чтоб прижать footer к низу
}

a,
button {
  outline: transparent;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  max-height: 50px;
  font-size: 36px;
  text-align: center;
  color: #191919;
  @extend %dmsans-700;
  overflow: hidden;
}

.category {
  margin: 25px 0 75px;
  text-align: center;

  &--design {
    margin-top: 21px;
  }

  &__btn {
    color: #8b8b8b;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: border-color 1s;
    outline: $white;

    &:hover {
      border-color: #8b8b8b;
    }

    & + & {
      margin-left: 16px;
    }
  }

  .mixitup-control-active {
    color: #1a1a1a;
  }
}

.design {
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

.partners {
  margin-right: 30px;
  padding-bottom: 40px;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    max-width: 170px;
    max-height: 85px;
    object-fit: cover;
  }
}

.news {
  &__meta {
    text-transform: uppercase;
  }
}
