$white: #ffffff;
$links: #7b7b7b; //сылки
$default: #a3bbc8; //шрифт
$title: #243f4d; // заголовки
$bg: #fef7f0; // темные места фона
$black: #000000;
$outline-slider:  #fcd7b6;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;


%dmsans-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
