@import "vars"; //переменные для цвета для шрифта
@import "fonts"; // подключение шрифтов
@import "reset"; //сброс всех стилей
@import "libs"; //подключение сторонних библиотек
@import "global"; // подключение глобальных стилей типо reset.css, то что на body для сылок

.header {
  padding: 0 10px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 45px; //отступ верх и низ в хеддере
    align-items: center;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
    background-color: $bg;
  }

  &__item {
    position: relative;
    max-width: 280px;
    padding-left: 76px;
    background-image: url("../images/icons/ellipse.svg");
    background-repeat: no-repeat;
    background-position: 31px 32px;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 6;
    left: 0;
    width: 49px;
    height: 49px;
  }
  &__item--support::before {
    background-image: url("../images/icons/support.svg");
  }
}

.logo {
  display: contents;
}

.menu {
  &__list {
    display: flex;
  }

  &__item + .menu__item {
    padding-left: 33px;
  }

  &__item span {
    margin-left: 3px;
  }

  &__link {
    padding-bottom: 1px;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    transition: all 0.2s;
    @extend %rubik-500;

    &:hover {
      border-bottom: 1px solid $default;
      color: $default;
    }
  }
}

.user-nav {
  display: flex;

  &__item {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    align-items: center;
  }

  &__item--find {
    width: 51px;
    height: 51px;
    background-color: #edf1f4;
    border-radius: 50%;
  }

  &__item--heart-cart {
    min-width: 178px;
    height: 51;
    background-color: #fcd7b6;
    border-radius: 50px;
  }

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    background-color: #fff;
    color: $title;
    border-radius: 50%;
  }

  &__line {
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
  }

  &__btn {
    width: 51px;
    height: 51px;
    background-color: #a3bbc8;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  &__img {
    margin: 0 auto;
  }
}

.header-slider {
  display: table;
  width: 100%;
  padding-top: 220px;
  padding-bottom: 45px;
  background-image: url("../images/slider/ellipse-bg.png");
  background-repeat: no-repeat;
  background-position: 83%;
  background-color: #fcd7b6;

  &__item {
    display: table-cell;
    margin-bottom: 200px;
  }
  &__title {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
    color: $title;
    @extend %rubik-500;
  }
  &__descr {
    max-width: 380px;
    margin-bottom: 65px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %rubik-400;
  }
  &__link {
    padding: 25px 18px 23px 25px;
    background-color: #a3bbc8;
    color: #fff;
  }
  &__link::after {
    content: url("../images/slider/arrow-btn.svg");
    margin-left: 60px;
  }
  &__img {
    margin-top: -21%;
    float: right;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      padding: 0 5px;
      button {
        width: 30px;
        height: 30px;
        font-size: 11px;
        line-height: 9px;
        background-color: #fde3cc;
        color: $title;
        border: none;
        border-radius: 50%;
      }
      button:focus {
        outline: dotted var(--outline-color);
      }
      &.slick-active {
        button {
          width: 30px;
          height: 30px;
          font-size: 11px;
          line-height: 9px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

.footer-top {
  display: flex;
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  &__item {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    @extend %dmsans-700;
  }
  &__contact {
    width: 200px;
    margin-right: 100px;
  }
  &__upper-letters {
    text-transform: uppercase;
  }
  &__nav {
    width: 120px;
    margin-right: 180px;
    padding-top: 25px;
  }
  &__item-form {
    max-width: 270px;
  }
  &__logo {
    display: block;
    margin-bottom: 30px;
  }
  &__adress,
  &__email,
  &__phone {
    display: block;
    color: $links;
  }
  &__adress {
    line-height: 28px;
  }
  &__text {
    margin-bottom: 25px;
    color: $links;
  }
  &__link {
    color: $links;
  }
  &__form-input {
    width: 166px;
    height: 40px;
    margin-right: -2px;
    padding: 5px 10px 5px 15px;
    background-color: $bg;
    border: none;
    &::placeholder {
      font-size: 12px;
      color: #234969;
      @extend %dmsans-400;
    }
  }
  &__form-btn {
    width: 100px;
    height: 40px;
    font-size: 14px;
    line-height: 21px;
    padding: 6px 15px;
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    cursor: pointer;
    @extend %dmsans-400;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__list {
    display: flex;
    flex-direction: row;
    vertical-align: middle; //выравнивает елементы по вертикале
  }
  &__item + .footer-bottom__item {
    margin-left: 14px;
  }
  &__item::before {
    content: "";
    margin-right: 14px;
    border-left: 1px solid #7b7b7b;
  }
  &__item:first-child::before {
    display: none;
  }
  &__link {
    color: #7b7b7b;
  }
}

@import "media"; // адаптив
