.design {
  margin-bottom: 57px;

  &__category {
    margin-top: 21px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 81px;

    @include _1200 {
      justify-content: space-evenly;
      margin-right: 0;
    }
  }
}
