.slider-home {
  &__inner {
    position: relative;
    width: 100%;
    min-height: 820px;
    background-color: #fcd7b6;
    background-image: url("../images/slider/ellipse-bg.png");
    background-repeat: no-repeat;
    background-position: 84% 53%;

    @include _1260 {
      min-height: 670px;
      background-image: none;
    }

    @include _860 {
      min-height: 450px;
    }
  }

  &__items {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1170px;
    max-height: 400px;
    margin: auto;
    padding: 0px 0 45px;

    @include _1260 {
      max-height: 350px;
      padding: 15px;
    }
  }

  &__item {
    @include _1260 {
      padding: 30px;
    }
  }

  &__about {
    @include _1260 {
      height: 350px;
    }

    @include _860 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include _560 {
      margin-top: 50px;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 440px;
    max-height: 140px;
    margin: 5px 0 25px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $title;
    @extend %rubik-500;

    @include _1260 {
      max-width: 350px;
      max-height: 95px;
      font-size: 50px;
    }

    @include _860 {
      max-width: 500px;
      max-height: 60px;
      font-size: 30px;
    }
  }

  &__descr {
    max-width: 380px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.6;
    color: #436372;
    @extend %rubik-400;

    @include _860 {
      max-width: 500px;
      margin-bottom: 40px;
    }
  }

  &__link {
    min-width: 200px;
    padding: 22px 18px 17px 25px;
    background-color: $default;
    color: $white;
    outline: $outline-slider;
    transition: background-color 0.5s;

    &:hover {
      background-color: #7c849b;
    }

    @include _860 {
      padding: 10px;
      border-radius: 5px;
    }
  }

  &__arrow {
    width: 22px;
    height: 9px;
    margin-left: 55px;
  }

  &__img {
    max-width: 60%;
    margin-top: -21%;
    margin-left: auto;
    object-fit: cover;

    @include _1260 {
      max-width: 40%;
      margin-top: -28%;
      margin-left: 60%;
      margin-bottom: 80px;
    }

    @include _860 {
      opacity: 0;
    }
  }

  &__list-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    background-color: $bg;

    @include _1260 {
      flex-direction: column;
    }

    @include _860 {
      padding: 45px;
    }
  }

  &__item-info {
    display: flex;
    min-width: 300px;

    @include _1260 {
      min-width: 100%;
      align-items: flex-start;
      margin-left: 70%;
      margin-bottom: 30px;
    }

    @include _860 {
      margin-left: 10%;
    }

    @include _560 {
      margin-left: 0;
    }
  }

  &__sup-info {
    width: 51px;
    height: 53px;
  }

  &__car-info {
    width: 54px;
    height: 37px;
  }

  &__secure-info {
    width: 53px;
    height: 52px;
  }

  &__sup-info,
  &__car-info,
  &__secure-info {
    display: block;
    margin-top: 5px;
    margin-right: 20px;

    @include _560 {
      display: none;
    }
  }

  &__inner-info {
    margin-left: 8px;
  }

  &__title-info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 208px;
    max-height: 58px;
    font-size: 18px;
    line-height: 1.7;
    color: #414141;
    @extend %dmsans-700;
  }

  &__text-info {
    max-width: 208px;
    line-height: 1.9;
    color: #585858;
    @extend %dmsans-400;

    @include _1260 {
      max-width: 100%;
    }

    &--indent {
      max-width: 220px;
    }
  }
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 35px;

  @include _860 {
    bottom: -15%;
  }

  @include _560 {
    bottom: 70%;
  }

  li {
    padding: 0 5px;

    button {
      width: 30px;
      height: 30px;
      font-size: 10px;
      background-color: #fde3cc;
      color: $title;
      border: none;
      border-radius: 50%;
      transition: bacground-color 0.5s, opacity 0.5s;

      &:focus {
        outline: $outline-slider; //переменная в _global
      }
      &:hover {
        background-color: $white;
        opacity: 0.7;
      }
    }

    &.slick-active {
      button {
        background-color: $white;
      }
    }
  }
}
