.top-products {
  padding: 64px 0 25px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;

    @include _860 {
      justify-content: space-around;
    }
  }
}

.review {
  padding: 99px 0 73px;

  &__inner {
    display: flex;
  }
}