.top-products {
  padding: 64px 0 25px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 45px 0;
  }

  &__item {
    position: relative;
    min-width: 270px;
    min-height: 380px;
    margin: 0 30px 40px 0;
    text-align: center;
    background-color: $white;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow;
    }

    &:hover .top-products__box {
      transform: translateX(0%);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38%;
    margin: 0 auto;
    object-fit: cover;
  }

  &__box {
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transform: translateX(300%);
    transition: transform 1s;
  }

  &__link,
  &__btn {
    display: block;
    width: 46px;
    height: 46px;
    margin: 8px 7px 7px;
    padding: 12px;
    background-color: $white;
    color: $default;
    border-radius: 50%;
    border: none;
    box-shadow: $box-shadow;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: $default;
      color: $white;
    }
  }

  &__find {
    width: 20px;
    height: 20px;
  }

  &__card {
    width: 22px;
    height: 20px;
  }

  &__heart {
    width: 22px;
    height: 18px;
    margin-top: 2px;
  }

  &__title {
    max-width: 270px;
    margin-bottom: 10px;
    padding: 0 10px;
    padding-top: 109%;
    font-size: 16px;
    color: $title;
    overflow: hidden;
  }

  &__price {
    color: $default;
  }
}

.review {
  padding: 99px 0 73px;

  &__inner {
    display: flex;
  }

  &__item {
    position: relative;
    width: 100%;
    max-height: 387px;
    max-width: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 82px 0;
    background-color: #feefe2;

    & + & {
      margin-left: 30px;
    }
  }

  &__img {
    max-width: 265px;
    max-height: 410px;
    margin: -182px 10px 0 10px;
    object-fit: cover;
    &--indent {
      margin: -177px 50px 0 60px;
    }
  }

  &__content {
    max-width: 370px;
    margin-top: -20px;
    padding: 10px 10px;
    color: $title;
  }

  &__title {
    max-height: 70px;
    margin-bottom: 10px;
    font-size: 26px;
    @extend %dmsans-700;
    overflow-y: auto;
  }

  &__text {
    max-height: 80px;
    margin-bottom: 45px;
    line-height: 1.9;
    @extend %rubik-400;
    overflow-y: auto;
  }

  &__link {
    bottom: 0;
    min-width: 180px;
    padding: 20px 19px;
    font-size: 15px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: #436372;
    outline: $outline-slider;
    transition: background-color 0.5s;

    &:hover {
      background-color: $default;
    }
  }

  &__arrow-b {
    width: 22px;
    height: 9px;
    margin-left: 40px;
  }
}
