.card-team {
  margin-bottom: 40px;

  &__img {
    position: relative;
    height: 320px;
    width: 370px;
    object-fit: cover;
    z-index: -1;
  }

  &__box {
    width: 100%;
    max-width: 325px;
    max-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    padding: 30px 20px;
    background-color: $white;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 22px;
    line-height: 1.2;
    color: #436372;
    margin-bottom: 10px;
  }

  &__desc {
    font-size: 16px;
    color: #436372;
    @extend %rubik-400;
  }

  &__social {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__icon {
    width: 41px;
    height: 41px;
    border-radius: 50%;

    &:hover {
      box-shadow: $box-shadow;
    }
  }
}
