.footer {
  &__top {
    display: flex;
    padding: 95px 0 50px;
    border-bottom: 1px solid #dae4e9;

    @include _1200 {
      justify-content: space-between;
    }

    @include _860 {
      flex-wrap: wrap;
    }

    @include _560 {
      flex-direction: column;
      justify-content: center;
      flex-flow: wrap;
      text-align: center;
      margin: 0 auto;
      padding: 0 0 50px;
    }
  }

  &__item {
    margin-bottom: 10px;
    font-size: 14px;
    @extend %rubik-400;

    &--links {
      max-width: 120px;
      margin-right: 180px;

      @include _1200 {
        margin-right: 30px;
      }
    }

    &--form {
      max-width: 270px;
      margin-left: 30px;

      @include _1200 {
        margin-left: 0;
      }
    }
  }

  &__title,
  &__link {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__title {
    max-height: 40px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #1f2044;
    @extend %dmsans-700;
  }

  &__logo {
    display: block;
    margin: -16px 0 27px 0;

    @include _560 {
      
    }
  }

  &__text {
    margin-bottom: 25px;
    line-height: 1.9;
    color: $links;
  }

  &__link {
    max-height: 40px;
    line-height: 1.7;
    color: $links;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form {
    display: flex;
    padding-top: 8px;
  }
  &__form-input {
    max-width: 166px;
    height: 40px;
    padding: 5px 10px 5px 15px;
    background-color: $bg;
    border: none;
    outline: $white;

    &::placeholder {
      font-size: 12px;
      color: #234969;
      @extend %dmsans-400;
    }
    &:hover {
      background-color: #fffaf6;
      box-shadow: $box-shadow;
    }
  }

  &__form-btn {
    max-width: 100px;
    height: 40px;
    padding: 6px 20px;
    font-size: 14px;
    background-color: $default;
    color: $white;
    border: none;
    @extend %dmsans-400;
    transition: background-color 0.5s;

    &:hover {
      background-color: #7f9cac;
      box-shadow: $box-shadow;
    }
  }

  &__label {
    margin-left: -2px;
    font-size: 0;
  }

  &__bottom {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 2.3;
    color: $links;
    @extend %rubik-400;

    @include _860 {
      flex-wrap: wrap;
    }
  }
}

.footer-menu {
  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    &::before {
      content: "|";
      margin-right: 14px;
    }

    &:first-child::before {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 11px;
    }
  }

  &__link {
    color: $links;

    &:hover {
      color: $default;
      text-decoration: underline;
    }
  }
}

.contact {
  max-width: 200px;
  margin-right: 100px;
  @extend %rubik-400;

  @include _1200 {
    margin-right: 30px;
  }

  @include _560 {
    margin-bottom: 30px;
  }

  &__text {
    display: block;
    font-size: 14px;
    line-height: 2.3;
    color: $links;

    &:hover {
      text-decoration: underline;
    }

    &--address {
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }

  &__title {
    text-transform: uppercase;
  }
}
