.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0px 46px;
  }

  @include _1260 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    background-color: #fff;
    z-index: 10;
  }

  @include _560 {
    top: -145px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin-right: -8%;

  @include _1260 {
    position: fixed;
    top: 145px;
    left: 80%;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(100%);
    z-index: 1;
  }

  @include _560 {
    top: 0;
    left: 60%;
    width: 40%;
    padding-top: 70px;
  }

  &--active {
    transform: translateX(0%);
  }

  &__list {
    display: flex;
    margin-top: -5px;

    @include _1260 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 50%;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }

    span {
      margin-left: 3px;
    }
  }

  &__item--adapt {
    display: none;

    @include _560 {
      display: initial;
    }
  }

  &__link {
    font-size: 15px;
    color: #436372;
    border-bottom: 1px solid transparent;
    transition: color 0.5s, border-color 0.5s;
    @extend %rubik-500;

    @include _1260 {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      color: #436372;
    }

    &:hover {
      color: $default;
      border-color: $default;
    }
  }
}

.menu-nav {
  display: flex;
  margin-right: -5px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding-top: 16px;
    transition: background-color 0.5s;

    &--heart {
      min-width: 178px;
      height: 51px;
      background-color: #fcd7b6;
      border-radius: 50px;

      @include _560 {
        display: none;
      }
    }
    &:hover {
      background-color: $default;
    }
  }

  &__find {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
  }

  &__heart {
    width: 22px;
    height: 18px;
  }

  &__cart {
    width: 19px;
    height: 17px;
    margin-top: -4px;
  }

  &__line {
    width: 1px;
    height: 32px;
    margin: -18px 20px 0 25px;
    background-color: #fde7d3;
  }

  &__ellipse {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
  }

  &__btn {
    position: relative;
    background-color: transparent;
    color: $title;
    border: none;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: $default;
      color: $white;
    }

    &--find {
      display: block;
      width: 51px;
      height: 51px;
      margin-right: 20px;
      padding-bottom: 6px;
      background-color: #edf1f4;
      border-radius: 50%;

      @include _560 {
        display: none;
      }
    }
  }

  &__num {
    position: absolute;
    top: -8px;
    right: -2px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    background-color: $white;
    color: $title;
    border-radius: 50%;
  }

  &__popup {
    width: 50px;
    height: 50px;
    background-color: $default;
    color: $white;
    border-radius: 50%;
    border: none;
    outline: $white;
    transition: color 0.5s;

    &:hover {
      color: $title;
    }

    @include _560 {
      position: absolute;
      top: 160px;
      left: 0;
      right: 0;
      margin: 0 auto;
      box-shadow: $box-shadow;
    }
  }
}
