.news {
  padding: 50px 0 50px;
  box-shadow: inset 0em -442px #fef7f0;

  @include _1200 {
    box-shadow: none;
  }

  @include _560 {
    padding: 50px 0 0;
  }

  &--partners {
    padding: 80px 0 50px;

    @include _768 {
      padding: 40px 0 50px;
    }

    @include _560 {
      padding: 40px 0 25px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include _560 {
      flex-direction: column;
    }
  }

  &__arrow {
    width: 6px;
    height: 11px;
  }

  &__title {
    margin-left: 0;

    @include _560 {
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }

  &__link {
    @include _768 {
      margin-bottom: 10px;
    }

    @include _560 {
      margin: 0 auto;
    }
  }

  &__title-link {
    margin-right: 18px;
    color: #262626;
    @extend %dmsans-700;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.5s;

    &:hover {
      color: #8b8b8b;
      border-color: #8b8b8b;
    }
  }

  &__inner {
    display: flex;
    margin: 0 -27px 94px 0;
    padding-top: 44px;

    @include _1200 {
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 0 94px 0;
    }

    @include _560 {
      margin: 0 0 50px 0;
    }
  }
}

.slick-track {
  display: flex;
  align-items: center;
}
