.partners {
  margin-right: 30px;
  padding-bottom: 40px;

  @include _1200 {
    flex-flow: wrap;
    margin-right: 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include _1200 {
      flex-flow: wrap;
      margin: 20px;
      padding: 10px;
    }
  }

  &__img {
    max-width: 170px;
    max-height: 85px;
    object-fit: cover;

    @include _1200 {
      margin-bottom: 30px;
    }
  }
}
