.top {
  height: 125px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 145px;
  margin-bottom: 115px;
  background-color: #edf1f4;

  @include _560 {
    margin-bottom: 50px;
  }

  &--login {
    margin-bottom: 115px;

    @include _560 {
      margin-bottom: 50px;
    }
  }

  &__title {
    margin-top: -10px;
    font-size: 36px;
    color: #222933;
    @extend %rubik-300;
  }
}
