<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/wooden-radio.png" alt="image wooden radio">

  </div>

  <h3 class="card__title box-limit">
    Wooden radio
  </h3>

  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>

<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/wooden-chair.png" alt="image wooden chair">

  </div>

  <h3 class="card__title box-limit">
    Wooden chair
  </h3>

  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>

<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/white-chair.png" alt="image white chair">

  </div>

  <h3 class="card__title box-limit">
    White chair
  </h3>
  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>

<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/retro-table.png" alt="image retro table">

  </div>

  <h3 class="card__title box-limit">
    Retro table
  </h3>

  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>

<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/wooden-radio-1.png" alt="image wooden radio">

  </div>

  <h3 class="card__title box-limit">
    Wooden radio
  </h3>

  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>

<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/wooden-chair-1.png" alt="image wooden chair">

  </div>

  <h3 class="card__title box-limit">
    Wooden chair
  </h3>

  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>

<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/white-chair-1.png" alt="image wooden radio">

  </div>

  <h3 class="card__title box-limit">
    White chair
  </h3>

  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>

<article class="card mix category-b">

  <div class="card__img-box">

    <img class="card__img" src="images/catalog/top-products/retro-table-1.png" alt="image retro table">

  </div>

  <h3 class="card__title box-limit">
    Retro table
  </h3>

  <span class="card__price">
    $29.00
  </span>

  <div class="card__link-box">

    <a class="card__link" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#find-front"></use>
      </svg>

    </a>

    <button class="card__btn" href="#">

      <svg class="card__icon">
        <use xlink:href="images/sprite.svg#card-front"></use>
      </svg>

    </button>

    <button class="card__btn" href="#">

      <svg class="card__icon card__icon--heart">
        <use xlink:href="images/sprite.svg#heart-front"></use>
      </svg>

    </button>

  </div>

</article>