<article class="card-design mix category-a" href="#">

  <div class="card-design__content">

    <h3 class="card-design__title">
      Beat Flat Pendant
      Black
    </h3>

    <span class="card-design__text">
      Classic
    </span>

  </div>

  <img class="card-design__img" src="images/catalog/new-design/A112-23.jpg" alt="image sofa-A112-23">

  <a class="card-design__link" href="#">Сlick areas</a>

</article>

<article class="card-design mix category-a" href="#">

  <div class="card-design__content">

    <h3 class="card-design__title">
      Lampe Sur Pieds
      Bamboo
    </h3>

    <span class="card-design__text">
      Classic
    </span>

  </div>

  <img class="card-design__img" src="images/catalog/new-design/k36.jpg" alt="image lampe sur">

  <a class="card-design__link" href="#">Сlick areas</a>

</article>

<article class="card-design mix category-a" href="#">

  <div class="card-design__content">

    <h3 class="card-design__title">
      Rattan Rocking
      Chair
    </h3>

    <span class="card-design__text">
      Classic
    </span>

  </div>

  <img class="card-design__img" src="images/catalog/new-design/r01.jpg" alt="image chair">

  <a class="card-design__link" href="#">Сlick areas</a>

</article>

<article class="card-design mix category-b" href="#">

  <div class="card-design__content">

    <h3 class="card-design__title">
      Rattan Rocking
      Chair
    </h3>

    <span class="card-design__text">
      Classic
    </span>

  </div>

  <img class="card-design__img" src="images/catalog/new-design/beat-flat.jpg" alt="image beat flat">

  <a class="card-design__link" href="#">Сlick areas</a>

</article>

<article class="card-design mix category-b" href="#">

  <div class="card-design__content">

    <h3 class="card-design__title">
      Rattan Rocking
      Chair
    </h3>

    <span class="card-design__text">
      Classic
    </span>

  </div>

  <img class="card-design__img" src="images/catalog/new-design/r02.jpg" alt="image chair">

  <a class="card-design__link" href="#">Сlick areas</a>

</article>

<article class="card-design mix category-c" href="#">

  <div class="card-design__content">

    <h3 class="card-design__title">
      Lampe Sur Pieds
      Bamboo
    </h3>

    <span class="card-design__text">
      Classic
    </span>

  </div>

  <img class="card-design__img" src="images/catalog/new-design/A207-1.jpg" alt="image sofa">

  <a class="card-design__link" href="#">Сlick areas</a>

</article>