<article class="card-recent">

  <img class="card-recent__img" src="images/catalog/shop/recent-prod/1.png" alt="images pendant lamp">

  <div class="card-recent__content">

    <span class="card-recent__title">

      Pendant lamp

    </span>

    <div class="star" data-rateyo-rating="4">
    </div>

    <span class="card-recent__proce">

      23$

    </span>

  </div>

  <a class="card-recent__link" href="#">Сlick areas</a>

</article>

<article class="card-recent">

  <img class="card-recent__img" src="images/catalog/shop/recent-prod/2.png" alt="images pendant lamp">

  <div class="card-recent__content">

    <span class="card-recent__title">

      Pendant lamp

    </span>

    <div class="star" data-rateyo-rating="4">
    </div>

    <span class="card-recent__proce">

      23$

    </span>

  </div>

  <a class="card-recent__link" href="#">Сlick areas</a>

</article>

<article class="card-recent">

  <img class="card-recent__img" src="images/catalog/shop/recent-prod/3.png" alt="images endant lamp">

  <div class="card-recent__content">

    <span class="card-recent__title">

      Pendant lamp

    </span>

    <div class="star" data-rateyo-rating="4">
    </div>

    <span class="card-recent__proce">

      23$

    </span>

  </div>

  <a class="card-recent__link" href="#">Сlick areas</a>

</article>