<article class="card-review">

  <img class="card-review__img" src="images/catalog/review/1.png" alt="review images">

  <div class="card-review__content">

    <h3 class="card-review__title box-limit">

      Mirum Notare Tellus

    </h3>

    <p class="card-review__text box-hiden">

      LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight

    </p>

    <a class="card-review__link" href="#">

      View More

      <svg class="card-review__arrow-b">
        <use xlink:href="images/sprite.svg#arrow-b"></use>
      </svg>

    </a>

  </div>

</article>

<article class="card-review">

  <img class="card-review__img card-review__img--indent" src="images/catalog/review/2.png" alt="review images">

  <div class="card-review__content">

    <h3 class="card-review__title box-limit">

      Malesuada Tempor Euismod

    </h3>

    <p class="card-review__text box-hiden">

      50W 8000lm Compact Size for HID StreetLight Replacement LEDCornLight

    </p>

    <a class="card-review__link" href="#">

      View More

      <svg class="card-review__arrow-b">
        <use xlink:href="images/sprite.svg#arrow-b"></use>
      </svg>

    </a>

  </div>

</article>