<div class="filter__item filter-brand">

  <h3 class="filter__title">

    Brand

  </h3>

  <form class="filter-brand__form" action="#">

    <label for="brand-rfl" class="filter-brand__label">

      Rfl:

      <input id="brand-rfl" class="filter-brand__input" type="checkbox" name="checkbox-brand" checked>

      <div class="filter-brand__checkbox">

        <span class="filter-brand__text">Rfl</span>
        <span class="filter-brand__text">(15)</span>

      </div>

    </label>

    <label for="brand-bro" class="filter-brand__label">

      Brothers:

      <input id="brand-bro" class="filter-brand__input" type="checkbox" name="checkbox-brand">

      <div class="filter-brand__checkbox">

        <span class="filter-brand__text">Brothers</span>
        <span class="filter-brand__text">(21)</span>

      </div>

    </label>

    <label for="brand-reg" class="filter-brand__label">

      Regal:

      <input id="brand-reg" class="filter-brand__input" type="checkbox" name="checkbox-brand">

      <div class="filter-brand__checkbox">

        <span class="filter-brand__text">Regal</span>
        <span class="filter-brand__text">(3)</span>

      </div>

    </label>

    <label for="brand-nad" class="filter-brand__label">

      Nadia:

      <input id="brand-nad" class="filter-brand__input" type="checkbox" name="checkbox-brand">

      <div class="filter-brand__checkbox">

        <span class="filter-brand__text">Nadia</span>
        <span class="filter-brand__text">(14)</span>

      </div>

    </label>

    <label for="brand-oto" class="filter-brand__label">

      Otobi:

      <input id="brand-oto" class="filter-brand__input" type="checkbox" name="checkbox-brand">

      <div class="filter-brand__checkbox">

        <span class="filter-brand__text">Otobi</span>
        <span class="filter-brand__text">(6)</span>

      </div>

    </label>

  </form>

</div>