<div class="filter__item filter-category">

  <h3 class="filter__title">

    Category

  </h3>

  <form class="filter-category__form" action="#">

    <label for="cat-chair" class="filter-category__label">

      Chair:

      <input id="cat-chair" class="filter-category__input" type="checkbox" name="checkbox-chair" checked>

      <span class="filter-category__checkbox">

        Chair

      </span>

    </label>

    <label for="cat-table" class="filter-category__label">

      Table:

      <input id="cat-table" class="filter-category__input" type="checkbox" name="checkbox-table">

      <span class="filter-category__checkbox">

        Table

      </span>

    </label>

    <label for="cat-lamp" class="filter-category__label">

      Lamp:

      <input id="cat-lamp" class="filter-category__input" type="checkbox" name="checkbox-lamp">

      <span class="filter-category__checkbox">

        Lamp

      </span>

    </label>

    <label for="cat-watch" class="filter-category__label">

      Watch:

      <input id="cat-watch" class="filter-category__input" type="checkbox" name="checkbox-watch">

      <span class="filter-category__checkbox">

        Watch

      </span>

    </label>

    <label for="cat-clock" class="filter-category__label">

      Clock:

      <input id="cat-clock" class="filter-category__input" type="checkbox" name="checkbox-watch">

      <span class="filter-category__checkbox">

        Clock

      </span>

    </label>

  </form>

</div>