<div class="filter__item filter-price">

  <h3 class="filter__title">

    Price

  </h3>

  <form class="filter-price__form" action="#">

    <label for="fil-price" class="filter-price__label">

      Price:

      <input id="fil-price" class="filter-price__input" type="text" name="price num" data-min="0" data-max="800"
        data-from="100" data-to="500">

    </label>

    <span class="filter-price__box">

      <span class="filter-price__from"></span>

      <span class="filter-price__to"></span>

    </span>

  </form>

</div>