<header class="header">

  <div class="container container--big">

    <div class="header__top">

      <a class="logo" href="#body">
        <img class="logo__img" src="/images/logo.png" alt="logo image">
      </a>

      <nav class="menu">

        <ul class="menu__list">

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="login.html">
              Sing in
            </a>
          </li>

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="#">
              Sing up
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="index.html">
              Home
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="about.html">
              About
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Services
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Pages
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              News
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Contact
            </a>
          </li>

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="#">
              Search
            </a>
          </li>

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="#">
              Favorites
            </a>
          </li>

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="#">
              Cart
            </a>
          </li>

        </ul>

      </nav>

      <div class="menu-nav">

        <div class="menu-nav__item menu-nav__item--heart">

          <a class="menu-nav__link menu-nav__link--user" href="login.html">

            Sing in

          </a>

          <span class="menu-nav__line menu-nav__line--user"></span>

          <a class="menu-nav__link menu-nav__link--user" href="#">

            Sing up

          </a>

        </div>

        <button class="menu-nav__btn menu-nav__btn--find" href="#">

          <svg class="menu-nav__find">
            <use xlink:href="images/sprite.svg#bg-find"></use>
          </svg>

        </button>

        <button class="menu-nav__btn menu-nav__btn--cart" href="#">

          <svg class="menu-nav__cart menu-nav__cart--adapt">
            <use xlink:href="images/sprite.svg#bg-cart"></use>
          </svg>

          <span class="menu-nav__num menu-nav__num--adapt">
            0
          </span>

        </button>

        <div class="menu-nav__item menu-nav__item--heart">

          <button class="menu-nav__btn menu-nav__btn--heart" href="#">

            <svg class="menu-nav__heart">
              <use xlink:href="images/sprite.svg#heart2"></use>
            </svg>


            <span class="menu-nav__num">
              0
            </span>
          </button>

          <span class="menu-nav__line"></span>

          <button class="menu-nav__btn" href="#">

            <svg class="menu-nav__cart">
              <use xlink:href="images/sprite.svg#bg-cart"></use>
            </svg>

            <span class="menu-nav__num">
              0
            </span>
          </button>

        </div>

        <button class="menu-nav__popup">

          <svg class="menu-nav__ellipse">
            <use xlink:href="images/sprite.svg#bg-ellipse"></use>
          </svg>

        </button>

      </div>

    </div>

    <div class="header__popup">

      <form class="header__search" action="#">

        <label for="sub-search" class="header__label">Search</label>
        <input id="sub-search" class="header__form-input" type="search" name="search" placeholder="Search" required>

        <button class="header__form-btn" type="submit">Search</button>

      </form>

    </div>

  </div>

</header>