<header class="header">

  <div class="container container--big">

    <div class="header__top">

      <a class="logo" href="#body">
        <img class="logo__img" src="/images/logo.png" alt="logo image">
      </a>

      <nav class="menu">

        <ul class="menu__list">

          <li class="menu__item">
            <a class="menu__link" href="index.html">
              Home<span>+</span>
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="about.html">
              About
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Services
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Pages<span>+</span>
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              News
            </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">
              Contact
            </a>
          </li>

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="#">
              Search
            </a>
          </li>

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="#">
              Favorites
            </a>
          </li>

          <li class="menu__item menu__item--adapt">
            <a class="menu__link" href="#">
              Cart
            </a>
          </li>

        </ul>

      </nav>

      <div class="menu-nav">

        <button class="menu-nav__btn menu-nav__btn--find" href="#">

          <svg class="menu-nav__find">
            <use xlink:href="#img-find"></use>
          </svg>

        </button>

        <div class="menu-nav__item menu-nav__item--heart">

          <button class="menu-nav__btn menu-nav__btn--heart" href="#">

            <svg class="menu-nav__heart">
              <use xlink:href="#img-heart"></use>
            </svg>


            <span class="menu-nav__num">
              0
            </span>
          </button>

          <span class="menu-nav__line"></span>

          <button class="menu-nav__btn" href="#">

            <svg class="menu-nav__cart">
              <use xlink:href="#img-bg-cart"></use>
            </svg>

            <span class="menu-nav__num">
              0
            </span>
          </button>

        </div>

        <button class="menu-nav__popup">

          <svg class="menu-nav__ellipse">
            <use xlink:href="#img-bg-ellipse"></use>
          </svg>

        </button>

      </div>

    </div>

  </div>

</header>