<section class="news">

  <div class="container">

    <div class="news__top">

      <h2 class="title news__title">
        Our Insights & Articles
      </h2>

      <a class="news__link" href="#">

        <span class="news__title-link">
          View All
        </span>

        <svg class="news__arrow">
          <use xlink:href="images/sprite.svg#news-arrow"></use>
        </svg>

      </a>

    </div>

    <div class="news__inner">

      <article class="card-news">

        <a class="card-news__more-link" href="#">

          <img class="card-news__image" src="images/catalog/news/1.jpg" alt="photo image news">

          <span class="card-news__more-title" href="#">
            News
          </span>

          <p class="card-news__text box-hiden">
            Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </p>

        </a>

        <div class="card-news__meta">

          <svg class="card-news__calendar-img">
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>

          <time datetime="2020-01-28" class="card-news__date">
            28 January, 2020
          </time>

          <a class="card-news__link card-news__link--author" href="#">

            <svg class="card-news__author-img">
              <use xlink:href="images/sprite.svg#admin"></use>
            </svg>

            <span class="card-news__author">
              By admin
            </span>

          </a>

        </div>

      </article>

      <article class="card-news">

        <a class="card-news__more-link" href="#">

          <img class="card-news__image" src="images/catalog/news/2.jpg" alt="photo image news">

          <span class="card-news__more-title" href="#">
            News
          </span>

          <p class="card-news__text box-hiden">
            Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </p>

        </a>

        <div class="card-news__meta">

          <svg class="card-news__calendar-img">
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>

          <time datetime="2020-01-28" class="card-news__date">
            28 January, 2020
          </time>

          <a class="card-news__link card-news__link--author" href="#">
            <svg class="card-news__author-img">
              <use xlink:href="images/sprite.svg#admin"></use>
            </svg>

            <span class="card-news__author">
              By admin
            </span>
          </a>
        </div>

      </article>

      <article class="card-news">

        <a class="card-news__more-link" href="#">

          <img class="card-news__image" src="images/catalog/news/3.png" alt="photo image news">

          <span class="card-news__more-title" href="#">
            News
          </span>

          <p class="card-news__text  box-hiden">
            Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </p>

        </a>

        <div class="card-news__meta">

          <svg class="card-news__calendar-img">
            <use xlink:href="images/sprite.svg#calendar"></use>
          </svg>

          <time datetime="2020-01-28" class="card-news__date">
            28 January, 2020
          </time>

          <a class="card-news__link card-news__link--author" href="#">
            <svg class="card-news__author-img">
              <use xlink:href="images/sprite.svg#admin"></use>
            </svg>

            <span class="card-news__author">
              By admin
            </span>
          </a>
        </div>

      </article>

    </div>

    <div class="partners">

      <ul class="partners__list">

        <li class="partners__item">
          <img class="partners__img" src="images/partners/1.png" alt="partner1">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="images/partners/2.png" alt="partner2">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="images/partners/3.png" alt="partner3">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="images/partners/4.png" alt="partner4">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="images/partners/5.png" alt="partner5">
        </li>

      </ul>

    </div>

  </div>

</section>