<div class="top">

  <div class="container">

    <h2 class="top__title">

      About Us

    </h2>

    <div class="breadcrumbs">

      <ul class="breadcrumbs__list">

        <li class="breadcrumbs__item">

          <a class="breadcrumbs__link" href="index.html">
            Home
          </a>

        </li>

        <li class="breadcrumbs__item breadcrumbs__item--about">

          <span class="breadcrumbs__link" href="#">
            About Us
          </span>

        </li>

      </ul>

    </div>

  </div>

</div>